.smallTrip_like {
  position: absolute;
  right:  -2rem;
  bottom: 2rem;
}
.smallTrip_car {
  position: absolute;
  right:  -2rem;
  bottom: 5rem;
}
.smallTrip_trip {
  position: absolute;
  right:  2rem;
  bottom: 5rem;
}
.smallTrip_country {
  position: absolute;
  left:  2rem;
  bottom: 5rem;
}