@import "variables";
.box {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  height: $mainBoxHight;
  margin: 0;
}
.box-top {
  background-color: rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  //padding: 1rem;
  height: auto;
}
@mixin boxDecor($width, $height, $color: $bgrPanelColor) {
  background-color: $color;
  width: $width;
  height: $height;
  padding: 1rem;
  font-size: 1.5rem;
  margin: .2rem auto calc($cornerCut * 3);
  position: relative;
  @include rwd {
    margin: 0;

    width: 100%;
  }

}
.box-content {
 @include boxDecor(490px, 250px);
  @include rwd {
    width: calc(100% - 20px);
    flex-wrap: nowrap;
  }
}

.box-section {
  margin-bottom: 2rem;
}
.box-section-row {
  display: flex;
  justify-content: space-around;
}

.box_input {
  margin-top: .5rem;
  font-size: 1.9rem;
  width: 99%;
  height: 4rem;
  background-color: white;
  border: 1px solid black;
  padding: 2px;
}

.box_input-description {
  @extend .box_input;
  height: 20rem;

}

.smallBox_image {
  max-width: 100%;
  height: 250px;
  position: relative;
  &:hover {
    opacity: 0.6;
    }
}

.smallBox_title {
  position: absolute;
  left: 40px;
  top: 10px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.47);
}
.smallBox_txt {
  position: absolute;
  left: 40px;
  top: 50px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.47);
}

.clickPage {
  box-sizing: border-box;
  background-color: rgba( 0,0,0,0);
  border: 0;
  margin: 0;
  padding: 0;
  @include rwd {
  width: calc(100% - 20px);

  }
  }

.under_construction {
  border: 2px solid;
  border-image-slice: 50;
  border-image-width: 3px;
  border-image-outset: 0px;
  border-image-repeat: repeat;
  border-image-source: linear-gradient(to right, yellow, black);
}