@import "variables";
.box {
  background-color: yellowgreen;
}
.box-top {

}

.box-content {

}

.box-bottom {

}

.box_input {
  width: 46rem;
  height: 2rem;
  background-color: white;
  border: 1px solid black;
  padding: 2px;
}