
$fontExtra: 'Castoro Titling', cursive;
$fontFalmily: 'Quicksand', sans-serif;

.fnt_extra {
  font-family: $fontExtra;
  font-size: 30px;
  margin: 0;
}

@mixin familyFont {
  font-family: $fontFalmily;
  font-size: 16px;
}

.fnt {
  @include familyFont;
  line-height: 2.8rem;
  font-size: 2rem;
  color: #242424;
}

.fnt_userpanel {
  @include familyFont;
  line-height: 2.8rem;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.96);

}