@import "reset";
@import "rwd";
@import "variables";
@import "fonts";
@import "buttons";

@import "img";
@import "box-style";
@import "smallTrip";

@mixin flexCenter {
  display: flex;
  align-items: center;
  @include rwd {
    display: block;
  }
}
@import "login";


root {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100vh;
}

.errorAnnouncement {
  @include familyFont;
  color: red;
}


.off {
  display: none;
}


.list_main {
  background-color: $btnNavigationColor;
  display: block;
  margin: 0.1rem;
  width: 100%;
}
.list_item {
  display: flex;
  justify-content: space-between;
  background-color: $btnNavigationColor;
  margin: 0.2rem;
}
.columns {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 0, 0.09);
  padding: 0 1rem;
  @include rwd {
    display: block;
  }
}
.main__bgr__img_parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.main__bgr__img {
  position: fixed;
  object-fit: cover;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.ico_smallShowTrip {
  width: 20px;
}


.newAccount_main {

}
.column_left {
  z-index: 10;
  max-width: $globalMarginWidth;
  width: 100%;
  @include rwd {
    width: 0;
  }
}

.column_center {

  z-index: 10;
  width: 100%;
  height: 100vh;
  display: block;
  //background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  @include rwd {
    min-width: $widthColumnCenter;
  }
}

.column_right {
  z-index: 10;
  max-width: $globalMarginWidth;
  width: 100%;
  @include rwd {
    width: 0;
  }
}



.main_header {

  //padding: 1.5rem 0;
  width: 100%;
  height: $headerHight;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

@mixin button {
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0);
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  &:hover {
    border-radius: 50%;
    background-color: white;
  }
}
.mainMenu__home {
  @include button;
  filter: invert(1);
  background-image: url("../../warehouse/images/ico/house-solid.svg");


 margin: 0 0 0 .5rem;
}

.mainMenu__filter {
  @include button;
  filter: invert(1);
  background-image: url("../../warehouse/images/ico/filter-solid.svg");


 margin: 0 0 0 .5rem;
}

.mainMenu__user1 {
  @include button;
  filter: invert(1);
  background-image: url("../../warehouse/images/ico/circle-user-regular.svg");
 margin: 0 0 0 .5rem;
}

.mainMenu__button {
  @include button;
  background-image: url("../../warehouse/images/ico/road-barrier-solid.svg");
  filter: invert(1);
 margin: 0 0 0 .5rem;
}







.button__zobacz {
  @include button;
  background-image: url("../../warehouse/images/ico/2931189_door_enter_exit_in_leave_icon.svg");
  filter: invert(1);
  margin: 0 0 0 .5rem;
}
.button__like {
  @include button;
  background-image: url("../../warehouse/images/ico/2931154_bookmark_favorite_rank_rating_star_icon.svg");
  filter: invert(1);
  margin: 0 0 0 .5rem;
}


.mainMenu__section {
  //padding-top: 3rem;
  height: $headerHight;
  border-bottom: 1px solid white;


}
.mainmenu__ico {
  display: flex;
  align-items: center;
}


.header__nav {
  @include flexCenter;
  height: 100%;
}
.header__logo {
  @include flexCenter;
  height: 100%;
}
.mainMenu__user {
  color: #d06c00;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 150px;
  height: 10rem;
  display: flex;
  align-items: center;
}
.new_account {
  //@include flexCenter;
  padding: 5rem;

}

.new_account-div {
  margin-bottom: 2rem;
}
.div-accept {
  display: flex;
  justify-content:center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.main__div {
  @include flexCenter;
  color:white;
  justify-content: space-between;
  align-items: start;
  &:after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    box-shadow: inset 0 0 50px black;}



}

.main_box {
  //margin-top: 7rem;
  //background-color: rgba(0, 47, 41, 0.13);

}



.box-dekor {
  top: 16px;
  left: 0;
  height: 6rem;
  @include flexCenter;
  @include boxDecor(calc(100% - 16px), $btnNavigationColor);


}

.mainPageDiv {
  max-height: $mainBoxHight;
}

@mixin overFlow {
  overflow-y: scroll;
  &::-webkit-scrollbar {width: 1rem}
  &::-webkit-scrollbar-thumb {
    background: rgba(243, 243, 243, 0.56);
    border-radius: .5rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(243, 243, 243, 0.76);

  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
  }
}

.mainPageStyle {
  display: flex;

  height: calc($mainBoxHight - 3rem);

  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  @include overFlow;


  @include rwd {

    //display: block;
    justify-content: center;

  }

}
.userpanel_ico {
  width: 80px;
  margin: 0 2rem;
  filter: invert(1);
}

.userpanel_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.triplook_header {
  padding: 1rem;
}
.triplook_main {
  display: flex;
}

.triplook_column-left {
  width: calc(60% - 3rem);
  padding: 1rem;
  //background-color: #d06c00;
  border-right: 2px solid white;
}

.triplook_column-right {
  width: 40%;
  padding: 1rem;
  //background-color: darkred;
}

@mixin triplook {
  background-color: rgba(30, 144, 255, 0.22);
  border: 1px dot-dash white;
  padding: 1rem;
  margin-bottom: $layoutOffset;
}

.triplook_img {
  height: $leyoutFotoMapHight;
  @include triplook;
}

.triplook_map {
  @include triplook;
  height: $leyoutFotoMapHight;

}
.triplook_description {
  @include triplook;
  height: $layoutDescription;
  @include overFlow;

}
.triplook_details {
  @include triplook;
  height: $layoutDetails;


}


.addFile {
  width: 500px;
  height: 250px;
  z-index: 100;
  background-color: rgba(23, 23, 23, 0.75);
}
