$globalMarginWidth: 120px;
$cornerCut: 20px;

$widthColumnCenter: calc(100% - ($globalMarginWidth * 2));

$btnNavigationColor: rgba(243, 243, 243, 0.6);
$bgrPanelColor: rgba(245, 245, 245, 0.8);
$fontSecondaryColor: rgb(243, 243, 243)
